.layout {
  max-width: 100vw;
  overflow: hidden;
  .scroll-icon {
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 16px;
    left: calc(50% - 40px);
    z-index: 100;
    opacity: 1;
    @include for-mobile {
      display: none;
    }

    &.is-scrolling {
      opacity: 0;
    }

    transition: opacity 0.5s ease;

    path {
      fill: #d90770;
      animation: breathe 2s infinite;
      transform-origin: center center;
    }
  }
}
