.scroll-magic-slider {
  background-color: #585d69;
  position: relative;
  &__presentation {
    position: absolute;
    background-color: #252934;
    top: 0%;
    left: 7%;
    z-index: 100;
    line-height: 100%;
    width: 350px;
    height: 100%;
    transform: skew(-5deg, 0);
    padding: 30px 20px 30px;
    &__title {
      font-size: 62px;
      line-height: 62px;
      color: #d90770;
    }
    &__subtitle {
      font-size: 22px;
      line-height: 28px;
      margin-top: 50px;
      font-style: italic;
      color: white;
      opacity: 1;
    }
  }

  #pinContainer {
    height: 100vh;
    width: 100%;
    overflow: hidden;

    .slide {
      position: absolute;
      height: 100vh;
      width: 50%;
      margin: 0 25%;

      .skew-wrapper {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding: 3%;
        text-align: center;
        background-color: #ecf0fb;
        transform: skew(-5deg, 0);
      }

      &.active + div {
        opacity: 0.1 !important;
      }

      &__img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        height: auto;
        border-radius: 35px;
        background-color: white;
        box-shadow: 0 -6px 13px 0 rgba(0, 0, 0, 0.1) inset;
        overflow: hidden;
        transition: all 0.3s;
        transform: skew(5deg, 0);
        padding: 20px;
        img {
          width: 100%;
          height: auto;
          border-radius: 15px;
        }
      }

      &__title {
        &-text {
          font-size: 42px;
          text-align: center;
          font-weight: 500;
          font-family: 'Open Sans';
        }
        &-subtitle {
          font-size: 22px;
          text-align: center;
          color: #d90770;
          font-family: 'Open Sans';
        }
      }

      &__points {
        justify-self: center;
        margin-top: 20px;
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        span {
          background-color: #252934;
          border-radius: 2px;
          padding: 5px 10px;
          margin: 5px;
          color: white;
        }
      }
    }
  }
}

.slider-mobile {
  height: 100vh;
  background-color: #585d69;
  position: relative;
  &__presentation {
    position: absolute;
    z-index: 100;
    background-color: transparent;
    padding: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    max-width: 100%;

    &__title {
      color: #d90770;
      font-size: 32px;
      font-weight: 500;
      text-align: center;
    }
    &__subtitle {
      font-size: 22px;
      line-height: 28px;
      margin-top: 50px;
      font-style: italic;
      color: white;
      opacity: 1;
    }
  }
}

@keyframes breathe {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}
