.about-me {
  height: 100vh;
  width: 100%;
  background-color: #252934;
  display: flex;
  justify-content: center;
  align-items: center;
  &__wrapper {
    max-width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-mobile {
      max-width: 90%;
    }

    img {
      border-radius: 50%;
      border: 5px solid white;
      width: 180px;
      height: 180px;
      margin: 25px;
      @include for-mobile {
        border: 3px solid white;
        width: 130px;
        height: 130px;
        margin: 20px;
      }
    }
    &__text {
      text-align: center;
      max-width: 900px;
      padding: 0 50px 20px;
      h1 {
        font-size: 62px;
        text-transform: uppercase;
        color: #d90770;
      }
      h2 {
        color: #ecf0fb;
        font-weight: 300;
        margin: 4px;
      }
      h3,
      p {
        color: #ecf0fb;
        font-style: italic;
        font-weight: 100;
      }
      @include for-mobile {
        width: 100%;
        padding: 0 20px 20px;
        h1 {
          font-size: 32px;
        }
        h3 {
          font-size: 16px;
        }
      }
    }
    &__contact {
      display: flex;
      align-items: center;
      background-color: #d90770;
      padding: 0 20px;
      border-radius: 5px;
      color: white;
      text-transform: uppercase;
      font-weight: 500;
      transition: transform 0.1s ease;
      &:hover {
        transform: scale(1.05);
      }
      svg {
        width: 40px;
        height: 40px;
        margin: 10px 20px 10px 0;
        fill: white;
      }
    }
  }
}
